{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        dev.weavejester/medley {:mvn/version "1.8.0"}}
 :paths ["src"]
 :aliases
 {:dev {:extra-paths ["test" "dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}}}}}
